.menu-btn {
  position: absolute;
  z-index: 3;
  right: 36px;
  top: 36px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-styling,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .menu.show {
    display: flex;
  }

  .menu .menu-styling,
  .menu .menu-nav {
    height: 100vh;
  }
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #121212;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-styling {
  background: #202020;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-styling.show {
  transform: translate3d(0, 0, 0);
}

.menu-styling .portrait {
  width: 250px;
  height: 250px;
  background: url('../img/profile-picture.jpg');
  border-radius: 50%;
  border: solid 3px #1a87ee;
}

.menu .menu-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .menu-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .menu-item.current>a {
  color: #1a87ee;
}

.menu .menu-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .menu-link:hover {
  color: #1a87ee;
}

.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu-item:nth-child(3) {
  transition-delay: 0.3s;
}

.menu-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: #202020;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

#bg-img {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgba(32, 32, 32, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading {
  font-size: 5rem;
  text-align: center;
}

@media (min-width: 768px) {

  h1.lg-heading {
    text-align: left;
  }
}

h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem;
  background: rgba(42, 42, 42, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.exp-cards {
  margin: 2rem 0 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .exp-cards {
    text-align: left;
  }
}

.text-secondary {
  color: #1a87ee;
}

main {
  min-height: calc(100vh - 60px);
  overflow: hidden;
  padding: 2rem;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #1a87ee;
  transition: all 0.5s ease-out;
}

#home {
  height: 100vh;
  overflow: hidden;
}

.bio,
.jobs,
.schools {
  display: flex;
  flex-direction: column;
}

.bio {
  column-gap: 3rem;
}

.jobs,
.schools {
  row-gap: 2rem;
}

@media (min-width: 576px) {
  .jobs,
  .schools {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {

  .bio {
    flex-direction: row;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.about-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about-info .bio-image {
  margin: 0 auto 2rem;
  height: 244px;
  border-radius: 50%;
  border: #1a87ee 3px solid;
}

.about-info .bio {
  font-size: 1.5rem;
}

.about-info .job,
.about-info .school {
  background: #2d2d2d;
  padding: 0.5rem;
  border-bottom: #1a87ee 5px solid;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
}

.projects img:hover {
  opacity: 0.5;
  border-color: #1a87ee;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 2rem;
  border: 3px #333 solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #1a87ee;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #1a87ee;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #a0a0a0;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #070707;
  color: #fff;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

main {
  align-items: center;
  text-align: center;
}

main .lg-heading {
  line-height: 1;
  margin: 2rem 0 1rem;
}

ul.menu-nav,
div.menu-styling {
  float: none;
  width: 100%;
  min-height: 0;
}

ul.menu-nav.show,
div.menu-styling.show {
  transform: translate3d(0, 0, 0);
}

.menu-nav {
  height: 75vh;
  transform: translate3d(-100%, 0, 0);
  font-size: 24px;
}

.menu-styling {
  height: 25vh;
  transform: translate3d(100%, 0, 0);
}

.menu-styling .portrait {
  background: url('../img/profile-picture-small.jpg');
  width: 220px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home h1 {
  margin-top: 32%;
}

@media screen and (min-width: 768px) {
  main {
    align-items: flex-start;
    text-align: left;
  }

  #home h1 {
    margin-top: 22vh;
  }
}